.slp-expression {
  font-weight: normal;
}
.slp-equals {
  margin: 0px 10px;
}
.slp-result {
  font-weight: bold;
}
.math-field-container:hover .slp-hidden {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.slp-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
